################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServicesPortal/obj/Debug
/ServicesPortal/bin
/ServicesPortal.sln.DotSettings.user
